<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <form [formGroup]="searchForm" class="d-flex" (ngSubmit)="onSearch()">
      <input formControlName="fatalities" type="number" class="form-control me-2" placeholder="Fatalities">
      <input formControlName="operator" type="text" class="form-control me-2" placeholder="Operator">
      <input formControlName="aircraftType" type="text" class="form-control me-2" placeholder="Aircraft type">
      <input formControlName="accidentCategory" type="text" class="form-control me-2" placeholder="Category">
      <button type="submit" class="btn btn-outline-success">Filter</button>
    </form>
  </div>
</nav>
